
##########################################################################################
# The servo hardware configuration. Change the values to your needs.
# 
[mmu_servo blobifier]
# Pin for the servo.
pin: BLOBIFIER_SERVO   # PC3, Leviathan Z-STOP header (free: Z homes on Beacon). 5V from 24V buck, common GND with board.
# Adjust this value until a 'BLOBIFIER_SERVO POS=out' extends the tray fully without a 
# buzzing sound
minimum_pulse_width: 0.00053    # Tuned + verified 2026-07-17: full extend/retract under load, arm+tray installed, no buzz
# Adjust this value until a 'BLOBIFIER_SERVO POS=in' retracts the tray fully without a 
# buzzing sound
maximum_pulse_width: 0.0025    # Tuned + verified 2026-07-17: full extend/retract under load, arm+tray installed, no buzz
# Leave this value at 180
maximum_servo_angle: 180


##########################################################################################
# The bucket hardware configuration. Change the pin to whatever pin you've connected the 
# switch to.
# 
[gcode_button bucket]
pin: ^BLOBIFIER_BUCKET # PC1, Leviathan X-STOP header. Pullup ( ^ ) required: switch wired NC->GND, so bucket installed = lever pressed = NC open = pin high = 'pressed'.
press_gcode:
  M117 bucket installed
release_gcode:
  M117 bucket removed
  _BLOBIFIER_COUNT_RESET
